<html>
    <head>
        <title>Kishore Vadlamudi's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django boys Blog</a></h1>
        </div>

        <div>
            <p>published: 21-08-2020,15:25 </p>
            <h2><a href="">My first post</a></h2>
            <p>So excited to learn Backend! :)</p>
        </div>

        <div>
            <p>published: 21-08-2020, 15:30</p>
            <h2><a href="">My second post</a></h2>
            <p>Still in the beginner stage though! :(</p>
        </div>
    </body>
</html>
